* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

a,
li {
  text-decoration: none;
  list-style: none;
}
html,
body {
  scroll-behavior: smooth;
}
